beautifulsoup4==4.8.1
certifi==2019.11.28
chardet==3.0.4
Django==2.2.10
django-mysql==3.3.0
idna==2.8
mysqlclient==1.4.6
pytz==2019.3
requests==2.22.0
selenium==3.141.0
selenium-wire==1.0.11
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.26.5
